/*Practice Problem 1*/
nav{
    background-color: darkgrey; height: 50px;padding: 10px; border-radius: 10px; display: flex; justify-content: space-around;
}
nav ul li{
    list-style: none; display: inline-block;
}

nav ul li a{
    color: pink;
}
/*Practice Problem 2*/
#box1{
    width: 150px; height: 150px; background-color: black; color: white; display: inline-block;
}
#box2{
    width: 100px; height: 100px; background-color: hotpink; color: white; display: inline-block; position: relative; right: 125px;
}
#container{
display: flex; justify-content: center; align-items: center;
}
/*Practice Problem 3*/
.color-change{
    background-color: black; color: white;padding: 20px; text-align: center;
}
@media(max-width:299px){
    .color-change{
        background-color: green;
    }
}
@media(min-width:601px){
    .color-change{
        background-color: blue;
    }
}
@media(min-width:300px){
    .color-change{
        background-color: pink;
    }
}
/*q1*/
.static-box{
    width: 150px; height: 150px; background-color:black;color: white;position: static;
}
/*q1*/
.relative-box{
    width: 150px; height: 150px; background-color: antiquewhite; position: relative; top: 20px; right: 30px;
}
